
<div class="worldwind">
  <div class="controls-container">
    <button class="control-button walmart" (click)="toggleWalmarts()">{{(!walmartLayer || walmartLayer.enabled) ? "Hide Walmarts" : "Show Walmarts"}}</button>
    <button class="control-button target" (click)="toggleTargets()">{{(!targetLayer || targetLayer.enabled) ? "Hide Targets" : "Show Targets"}}</button>
  </div>
  <div class="world-container">
    <canvas id="canvasOne" #canvasOne width="1024" height="768" (click)=" refreshAnnotation(selectedAnnotation); pickPosition($event)">
      Your browser does not support HTML5 Canvas.
    </canvas>
  </div>
  <div class="annotation-editor">
    <div class="editing-container" *ngIf="selectedAnnotation">
      <div class="coordinates">
        <div class="coordinate-field">
          <label>Latitude: </label>
          <input type="number" [(ngModel)]="selectedAnnotation.position.latitude" />
        </div>
        <div class="coordinate-field">
          <label>Longitude: </label>
          <input type="number" [(ngModel)]="selectedAnnotation.position.longitude" />
        </div>
      </div>
      <div class="textarea-container">
        <textarea [(ngModel)]="selectedAnnotation.label" (blur)="refreshAnnotation(selectedAnnotation)"></textarea>
      </div>
    </div>
    <div class="annotation-instructions">
      Click on an annotation to edit, or <span class="create-annotation" (click)="addAnnotation()">create a new one</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>